<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
  </head>
  <body>
    <b style="font-size: x-large">Input Details</b>
    <p style="font-weight: 100">Name: <%= message.name %></p>
    <p style="font-weight: 100">E-mail: <%= message.email %></p>
  </body>
</html>
